
@font-face {
	font-family: 'ProximaNova';
	src: url(fonts/Proxima Nova Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'FuturaPT';
	src: url(fonts/futura-pt-heavy.otf);
	font-weight: bold;
	font-style: normal;
}


body {
	background-color: #464f54;
	margin: 0;
	max-width: 100%;
}

div {
	display: inline-block;
}

.page-wrapper{
	width: 100%;
	height: 1000px;
}

.title {
	width: 70%;
	height: 87px;
	background: black;
	color: #777777;
	margin-left: 26%;
	margin-top: 100px;
	padding: 28px 0 72px 67px;
}

.title p:first-child {
	font-family: 'ProximaNova', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing:4.8px;
	margin:0;
	padding: 0;
	line-height: 1;
}

.title p:last-child {
	margin:0 0 10px 4px;
	padding:0;
	line-height: ;
	font-family: 'Playfair Display', serif;
	font-size: 48px;
	text-transform: capitalize;
	color:white;
	line-height: 1.5;
}

.title::after {
    content: "";
    display: block;
    border-bottom: 1px solid grey;
}

.toolbar {
	background: #fabf2d;
	width: 60%;
	margin-left: 40%;

}

.main {
	background: white;
	padding: 0 0 0 70px;
	position: absolute;
	margin-left: 9%;
	margin-right: 9%;
	margin-top: -150px;
	z-index: -1;
	width: 80%;
 	box-shadow: 
    0 0 0 10px rgba(30, 30, 30, 0.09),
    0 0 0 15px rgba(33,33,33, 0.08),
    0 0 0 20px rgba(35,35,35, 0.06),
    0 0 0 25px rgba(37,37,37, 0.04),
    0 0 0 30px rgba(39,39,39, 0.02);

}

.main div {
	border-left: 1px solid #e8eced;
	margin-right: 125px;
	padding-bottom: 30px;
}

.main p{
	margin-left:55px;
   
}

.author {
	font-family: 'ProximaNova', sans-serif;
	font-size: 19.84px;
	text-transform: uppercase;
	letter-spacing:4.35px;
	margin:182px 0 0 0;
	padding: 0;
	line-height: 1;
	color: #c4c4c4;

}

.article {
	font-family: 'FuturaPT', sans-serif;
	font-size: 77.93px;
	text-transform: capitalize;
	letter-spacing:4.13px;
	margin:20px 0 0 0;
	padding: 0;
	line-height: 1;
	color: black;
}

.subtitle {
	font-family: Georgia, sans-serif;
	font-size: 30px;
	margin:0;
	padding: 0;
	line-height: 1;
	color: #8f8f8f;
	font-style: italic;
}

.text {
	font-family: Georgia, sans-serif;
	font-size: 26.92px;
	margin:20px 0 0 0;
	padding: 0;
	line-height: 1.5;
	text-align: justify;
}

.text span {
	font-style: italic;
}

img {
	margin: 20px 0px 20px 40px;
}