
/*
div:nth-child(2) {
    column-count: 3;
}
*/
body {
	background-color: #F5F5F5;
}

div:not(class) {
	width: 80%;
	margin: 0 auto;
}
p.search{
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #c2c2c2;
}

.input_search {
	border:  solid 1px rgba(0,0,0,0.05);
	font-weight:bold;
	font-size: 60px;
	height: 40px;
	color: #ec5a62;
	background: url(favicon.png) no-repeat right center;
	background-size: 6%;
	padding: 2% 2%;
	line-height: 2%;
}


input::placeholder {
	color: #c2c2c2;
}

.content {
	display: inline-block;
	width: 30%;
	margin-left: 2%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.content:first-child {
	margin-left: 3%
}

.content p {
	margin-left: 4%;
	color: #565353;
	font-weight:bold;
	font-size: 15px;
}
.people, .popular, .recent {
	display: inline-block;
	background-color: #D5CFCF;
	width:100%;
	height: 70px;
	line-height: 70px;

	font-size: 17px;
	overflow: hidden;

}

.people:last-child, .popular:last-child, .recent:last-child {
	margin-bottom: 2%
}

.people span, .popular span, .recent span{
	margin-left: 10px;

}

.people:hover, .popular:hover, .recent:hover,
.people img:hover,  .popular img:hover, .recent img:hover {
	cursor: pointer;
	color: #ec5a62;

}

.people:hover, .popular:hover, .recent:hover {
	background-color: #CBC6C6;
}

img {
	vertical-align: middle;
	margin-left: 10px;

}

.img-circle  {
	border-radius: 50%;
}
