*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body, html {
	max-height: 100%;
}

body{
	background: #9b7d7d;
}

.board {
	width: 45%;
	background: #fff;
	margin: 0 auto;
	padding: 2.25%;
	box-shadow: 0px 0px 20px 20px #866969;
}

.strip {
	width: 100%;
	border: 1px solid grey;
	float:left;
}

.row {
	width: 100%;
	float:left;
}


.board:before, .board:after { 
	content: ""; 
	display: table; 
}

.board:after {
	clear: both;
}

.square:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.small {
	float: left;
	width: 12.5%;
	border: 0.5px solid brown;
}

.round {
	float: left;
	width: 100%;
	border-radius: 50%;
	border: 0.5px solid brown;
}

.rim {
	width: 95%;
	margin: 2.5%;
	border: 2px solid rgba(255, 255, 255, .2);
}

.row:nth-child(2n) .small:nth-child(2n+1) {
	background: #000;
}

.row:nth-child(2n) .small:nth-child(2n) {
	background: #fff;
}

.row:nth-child(2n+1) .small:nth-child(2n+1) {
	background: #fff;
}

.row:nth-child(2n+1) .small:nth-child(2n) {
	background: #000;
}

.black {
	background: #232323;
	border: 1px solid #141414;
}

.red {
	background: #ad0000;
	border: 1px solid #8c0000;
}

.small:hover {
 	opacity: 0.8;
}

.row:nth-child(2n) .small:nth-child(2n):hover {
	background: rgba(160,241,27,0.8);
}

.row:nth-child(2n+1) .small:nth-child(2n+1):hover {
	background: rgba(160,241,27,0.8);
}
.row:nth-child(2n+1) .small:nth-child(2n):hover {
	background: rgba(160,241,27,0.8);
}

.row:nth-child(2n) .small:nth-child(2n+1):hover {
	background: rgba(160,241,27,0.8);
