
body {
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 50px;

}
.kill {
	border: 5px solid white;
	width:40%;
	color: red;

}

h1 {
	text-decoration: underline;
}

.strong {
	font-weight: bold;
}


.div-left {
	float: left;
	padding: 10px;
}

.div-right {
	overflow: hidden;
	padding: 10px;
}

