html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;

}

html, body {
	height: 100%;
}

body {
	width: 100%;
	background: #282828;
}


.b-wrapper {
	width:100%;
	height:100%;
	position: relative;
}

.b-wrapper_background1 {
	background: url(img/bg.png) no-repeat 50% 50%;
	background-size: cover;
}

.b-wrapper_background2 {
	background: url(img/bg_t.png) no-repeat 50% 50%;
	background-size: cover;
}

.b-block {
	width:750px;
	margin-left:auto;
	margin-right:auto;
}

.b-block__menu {
	height:25px;
	margin-top:25px;
	position: absolute;
}

.b-block__menuitemL {
	width:25%;
	height: 100%;
	background: blue;
	float:left;
}

.b-block__menuitemR {
	width:75%;
	height:100%;
	background: white;
	float:right;
}

.b-block__icon_left {
	float: left;
}

.b-block__icon_right {
	float: right;
}

.b-block__submenu {
	width:65px;
	height:100%;
	float: left;
	margin-right: 45px;
	line-height: 25px;

}

.b-block__icon {
	height:100%;
	line-height: 25px;
	font-size: 16px;
	color: black;

}

.fa {
	font-size: 20px;
}