html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family:"Raleway";
	src:url('../fonts/Raleway-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family:"Raleway";
	src:url('../fonts/Raleway-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:"Raleway";
	src:url('../fonts/Raleway-SemiBoldItalic.ttf');
	font-weight: 500;
	font-style: italic;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body, html {
	min-height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body {

	margin:0;
	padding: 0;
	background: #eee;
	
}

a {
    text-decoration: none;
    transition: all 0.3s;
    transition-timing-function: ease-in-out;
}

a:hover {
	text-decoration: underline;
	opacity: 0.6;
}

.header {
	width: 1198px;
	height:60px;
    margin: 42px auto 0 auto;
    position: relative;
}

.header:after, .dots:before, .clearfix:before, .social:before {
	content: "";
	clear:both;
	display: table;
}

.productman {
	margin: 44px 0 0 0;
	position: absolute;
	top: auto; left: 0; bottom: 0; right: auto;
	font-family: "Roboto", sans-serif;
	font-weight: 900;
	font-size: 48px;
	color: #303030;
}

.nav {
	position: absolute;
	top: auto; left: auto; bottom: 0; right: 0;
}
.nav li {
    float: left;
    margin-top: 20px;
    padding: 0 0 0 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
	font-size: 18px;
	color: #707070;
}

.nav li:last-child {
    color: #303030;
}

.slider {
	width:1198px;
	height: 680px;
	margin: 120px auto 0 auto;
	background:url(../img/bg_gradient.png) no-repeat 90% 40%;
	background-size: contain;
}

.headset {
	width:30%;
	margin-right: 115px;
	float: right;
}

.text {
	width:623px;
	float: left;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 150px;
	font-weight: 900;
	float: right;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 3.75px;
	color:#303030;
}

.text p {
	width:90%;
	margin-right: 5px;
	float: right;
	text-align: right;
	line-height: 1.5;
}

.lorem {
	margin-top: 20px;
	color: #303030;
}

.view {
	margin-top: 15px;
	color: #e10011;
}

.view,.lorem {
	font-size: 24px;
	letter-spacing:0.6px;
}

.dots {
	width:100%;
	height:12px;
	margin: 66px auto;
	text-align: center;
	float:left;
}

.dot {
	display: inline-block;
	width:12px;
	margin:0 2px;
	background: #303030;
	border-radius: 50%;
}


.dot:after, .halfcircle:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

.dot:hover {
	opacity: 0.7;
}

.one {
	background: #e10011;
}

.main {
	width:1200px;
	height: 1195px;
	margin:0 auto;
	padding: 106px 70px 72px 70px;
	background: white;
}
.container {
	float:left;
}

.featured p:first-child, .news{
	font-family: "Raleway", sans-serif;
	font-size: 48px;
	font-weight: 900;
	text-align:center;
	line-height: 1.5;
	letter-spacing: 3.75px;
	color:#303030; 
}

.featured p:nth-child(2) {
	line-height: 1.5;
	text-align:center;
}

.ipsum {
	width:58%;
	margin: 0 auto;
	margin-bottom: 35px;
	line-height: 1.5;
	text-align:center;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.45px;
	color: #303030;
}

.gallery div:not(.clearfix){
	width: 327px;
	height: 385px;
	margin-top: 35px;
	float:left;
	background-size: cover;
}

.gallery div:first-child {
	width:690px;
	height:386px;
	margin-right: 35px;
	background: url(../img/microphone.jpg) no-repeat;
	background-size: cover;
}


.gallery div:nth-child(2) {
	background: url(../img/redset.jpg) no-repeat;
}

.gallery div:nth-child(4) {
	margin-right: 35px;
	padding: 260px 64px 40px 30px;
	background: red;
	border-radius: 2%;
}

.min-product, .line{
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 900;
	text-align:left;
	text-transform: capitalize;
	color:white; 
}

.line {
	width:40%;
	margin-top: 10px;
	padding-bottom: 12px; 
	border: 0;
    border-bottom: 5px solid #ccc;
}

.gallery div:nth-child(5) {
	margin-right: 35px;
	background: url(../img/shoe.jpg) no-repeat;
}

.gallery div:nth-child(6) {
	background: url(../img/chair.jpg) no-repeat;
}

footer {
	width:1200px;
	margin:85px auto 27px auto;
	padding: 0 70px 0 70px;
}

.news {
	text-transform: uppercase;
	margin-bottom: 10px;
}

.subscribe {
	width:702px;
	height:70px;
	margin: 0 auto;
	background: white;
	border-bottom-left-radius: 70px;
	border-top-left-radius: 70px;
	border-bottom-right-radius: 70px;
  	border-top-right-radius: 70px;

}

.button {
	float:right;
	width:210px;
	height: 70px;
	border-bottom-right-radius: 70px;
  	border-top-right-radius: 70px;
  	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 900;
	text-align:center;
	text-transform: uppercase;
	color:white; 
	background: red;
}

.button:after,  input[name="email"]:after, .fa-envelope-o:after{
	display: inline-block;
	content: '';
  	height: 100%;
  	vertical-align: middle;
 }

.button .fa-play {
	font-size: 10px;
	vertical-align: middle;
}

input[name="email"]{
	float:left;
	width:55%;
	height: 60px;
	border: 0;
	margin-left: 2%;
	margin-top:5px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 18px;
	letter-spacing: 0.45px;
	color: #c5c5c5;
}

.fa-envelope-o {
	font-size: 10px;
	margin-left: 5%;
	margin-top: 25px;
	color: #c5c5c5;
	float: left;

}

.social {
	display: block;
	width:358px;
	height:69px;
	margin: 112px auto 60px auto;
}

.social li{
	display: inline-block;
	margin-right: 20px;
}

.social li:last-child {
	margin-right: 0;
}

.facebook:after {
	content: "";
	display: inline-block;
	background: url('../img/social.png') no-repeat 0 0;
	width: 70px;
	height: 69px;
}

.twitter:after {
	content: "";
	display: inline-block;
	background: url('../img/social.png') no-repeat -90px 0;
	width: 70px;
	height: 69px;
}

.youtube:after {
	content: "";
	display: inline-block;
	background: url('../img/social.png') no-repeat -180px 0;
	width: 70px;
	height: 69px;
}

.m:after {
	content: "";
	display: inline-block;
	background: url('../img/social.png') no-repeat -270px 0;
	width: 70px;
	height: 69px;
}

.copyright{
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 400;
	text-transform: capitalize;
	text-align: center;
	letter-spacing: 0.45px;
	color:#bababa;
}

span{
	color: #303030;
}