html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    height: 100%;
    box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 1770px;
    border:15px solid #fff;
}
* {
	box-sizing: inherit;
}
@font-face {
	font-family:'Aleo';
	font-weight: 400;
	src: url(../fonts/aleo-regular.woff);
}
@font-face {
	font-family:'Awesome';
	font-weight: 400;
	src: url(../fonts/fontawesome-regular.woff);
}

// Definitions

//    fonts
@font-heading: 'Josefin Sans', sans-serif;
@font-menu: 'Aleo', sans-serif;
@font-testimony: 'Awesome', sans-serif;

.hover-shadow() {
	&:hover {
		box-shadow: 0 4px 10px rgba(0,0,0,.5);
		cursor: pointer;
	}
}
.button() {
	border:0;
	width: 225px;
	height:60px;
	background: #5474fd;
	opacity: 0.7;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	.hover-shadow();
	&:active {
			background: grey;
	}
}
.arrow {
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
	top:0;
	margin: auto;
	width: 15px;
    height: 15px;
    border: solid white;
}
.b-wrapp{
	position: absolute;
	left:0;
	right:0;
	width: 1110px;
	height:100%;
	color: #fff;
	margin:0 auto;
}
//

/*SEARCH*/

.b-search {
	position: relative;
	width:100%;
	height: 820px;
	background: url(../img/bg-search.jpg);
	background-size: cover;
	&_wrapper {
		position: relative;
		width: 650px;
		margin: 0 auto;
		padding-top:250px;
		color: #fff;
	}
	&_title {
		display: block;
		margin-top: 250px;
		font-family: @font-heading;
		font-size: 48px;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;

	}
	&_subtitle {
		text-align: center;
		margin-top: 13px;
		font-family: @font-heading;
		font-size: 22px;
		font-weight: 400;
		text-transform: capitalize;
		letter-spacing: 6.82px;
	}
	&_search {
		position: relative;
		margin:48px auto 0 auto;
		background: blue;
		font-size: 0;
		min-width: 650px;
		max-width: 670px;
		height: 60px;
	}
	&_inputtext {
		float: left;
		width: 500/650*100%;
		height:100%;
		border:0;
		text-align: center;
		font-family: @font-heading;
		color:  #999999;
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
		letter-spacing: 2.8px;
		.hover-shadow();
	}
	&_button {
		display: inline-block;
		width:150/650*100%;
		height: 100%;
		border: 2px solid #fff;
		background-color:  #5474fd;
		font-family: @font-menu;
		color:  #ffffff;
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		.hover-shadow();
		&:active {
			background: grey;
		}
	}
	&_buttonname {
		position: relative;
		bottom: 5px;
		margin-right: 5px;
		margin-top: 0;
	}

	&_svg {
		position: relative;
		top: 5px;
		margin-top: 0px;
	}
	&_scroll {
		position: relative;
		text-align: center;
		height:50px;
		margin: 115px auto 0 auto;

	}
	&_scrollText{
		font-family: @font-heading;
		color:  #ffffff;
		font-size: 14px;
		font-weight: 400;
		text-transform:capitalize;
		letter-spacing: 2.8px;
	}
	&_scrollbutton {
		position: relative;
		margin:0 auto;
		width:30px;
		height:30px;
		&:active {
			background:#bbbec1;
			opacity: 0.8;
		}

	}
	&_scrollarrow {
		.arrow();
	    border-width: 0 2px 2px 0;
	    transform: rotate(45deg);
	}
}

/*END SEARCH*/

/*MENU BAR*/
.menu {
	position: relative;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background-color:  #5474fd;
	line-height: 80px;
	font-size: 0;
	z-index: 2;
	&_buttons {
		display: inline-block;
		position: relative;
		left:30px;
		right:0;
		width: 540px;
		height: 80px;
		vertical-align: middle;
	}
	&_h1 {
		float: left;
		position: relative;
		font-family: @font-heading;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		width: 540px;
		height: auto;
	}
	&_title {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		&:hover{
			border-bottom: 2px solid white;
		}
	}
	&_item {
		position: relative;
		display: inline-block;
		margin:0 42px 0 0;
		height: 30px;
		font-family: @font-menu;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 25px;
		&:hover{
			border-bottom: 2px solid white;
		}
		&:last-child {
			margin-right:0;
		}

	}
}
/*END MENU BAR*/

/*WHAT WE DO*/
.b-aboutUs {
	position: relative;
	width: 100%;
	height: 685px;
	background-image: url(../img/bg-aboutUs.jpg);
	background-size: cover;	
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 100%; 
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgb(51,51,51);
		opacity: 0.8; 
	}
	&_left {
		position: absolute;
		z-index: 2;
		width:540px;
		height:450px;
		top:120px;
		left:0;
		/*left:328px;*/

	}
	&_h1 {
		margin-top: 75px;
		text-transform: capitalize;
		font-family: @font-menu;
		font-size: 36px;
		font-weight: 400;
	}
	&_text {
		margin-top: 50px;
		font-family: @font-heading;
		font-size: 16px;
		line-height: 1.5;
		color: #e8e8e8;
		div {
			margin-top: 25px;
		}
	}
	&_right {
		position: absolute;
		z-index: 2;
		width:540px;
		height:450px;
		top:120px;
		right: 0;
	}
	&_button {
		margin-top: 45px;
		.button();

	}
	&_img1 {
		margin-left:65px;
		box-shadow: 0 4px 10px rgba(0,0,0,.5);
	}
	&_img2 {
		margin-top: 2px;
		float: right;
		box-shadow: 0 4px 10px rgba(0,0,0,.5);
	}
}
/*END WHAT WE DO*/

/**/
.b-searchPl {
	background-color:  #333333;
	width: 100%;
	height: 337px;
}
/*COUNTRY FIRST*/
.countryOne {
	background: url(../img/country-1.jpg);
	background-size: cover;
}
.b-country {
	position: relative;
	width: 100%;
	height: 700px;

	&_left {
		position: absolute;
		z-index: 2;
		width:540px;
		height:370px;
		bottom:100px;
		background: rgba(35,35,35,0.9);
		padding-left: 30px;
		padding-top: 45px;
	}
	&_h1 {
		font-family: @font-heading;
		color:  #e8e8e8;
		font-size: 20px;
		font-weight: 400;
	}
	&_h2 {
		margin-top: 27px;
		font-family: @font-heading;
		color:  #ffffff;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&_text {
		margin-top: 26px;
		font-family: @font-heading;
		color:  #e8e8e8;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	&_button {
		margin-top: 45px;
		.button();
	}

}
/*END COUNTRY FIRST*/

/*COUNTRY SECOND*/
.countryTwo {
	background: url(../img/country-2.jpg);
	background-size: cover;
}
.b-country {
	position: relative;
	width: 100%;
	height: 700px;
	&_right {
		position: absolute;
		z-index: 2;
		width:540px;
		height:370px;
		bottom:100px;
		right: 0;
		background: rgba(35,35,35,0.9);
		padding-left: 30px;
		padding-top: 45px;
	}

}
/*END COUNTRY SECOND*/

/*TESTIMONY*/
.b-feedback {
	position: relative;
	width: 100%;
	height: 731px;
	background-color: rgb(51,51,51);;
	&:before {
		content: '';
		position: absolute;
		display: block;
		height: 100%;
		width: 100%; 
		z-index: 1;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url(../img/bg-testimony.jpg);
		background-size: cover;
		opacity: 0.3; 
	}
	&_title {
		z-index: 2;
		margin-top: 115px;
		font-family: @font-menu; 
		font-size:36px;
		font-weight: 400;
		text-align: center;
		text-transform: capitalize;
	}
	&_navig {
		position: absolute;
		width:100%;
		height:48px;
		top:115px+400px;
	}

}
.b-arrow {
		position: relative;
		z-index: 2;
		float: right;
		border-width: 1px;
		border-color:  #ffffff;
		border-style: solid;
		width: 78px;
		height: 48px;
		&:last-child{
			margin-right:15px;
		}
		&_left{
			.arrow();
		    border-width: 0 3px 3px 0;
		    transform: rotate(135deg);
		}
		&_right{
			.arrow();
		    border-width: 0 3px 3px 0;
		    transform: rotate(-45deg);
		}
		a {
			display: block;
			width:100%;
			height: 100%;
			&:hover {
				cursor: pointer;
			}
		}
		&:active {
			background: grey;
		}
}
		
.b-box {
	position: absolute;
	z-index: 2;
	top: 115px+95px;
	&_photo {
		float: left;
		width: 445px;
		height: 284px;
	}
	&_inform {
		float:right;
		overflow: auto;
		background-color:  #333333;
		width: 665px;
		height: 284px;
		padding-left: 62px;
		padding-top: 45px;
		padding-right: 48px;
	}
	&_h1 {
		font-family: @font-heading;
		color:  #fefefe;
		font-size: 20px;
		font-weight: 400;
		text-transform: uppercase;

	}
	&_text {
		margin-top: 35px;
		font-family: @font-testimony;
		font-size: 16px;
		color: #fff;
		line-height: 1.5;
		white-space: pre-wrap;
	}
}
.fa-quote-left {
	    position: relative;
    	bottom: 10px;
		margin-right: 3px;
		color:  #5474fd;
	}

/*END TESTMONY*/

footer {
	position: relative;
	background-color:  #232323;
	width: 100%;
	height: 268px;
}
.footer {
	&_wrapp {
		position: absolute;
		left:0;
		right:0;
		margin: 0 auto;
		width: 1110px;
		height: 100%;
		font-family: @font-heading;
		text-align: center;
		background: green;
	}
	&_title {
		margin-top: 115px;
		color:  #ffffff;
		font-size: 24px;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 4.2px;
	}
	&_subtitle {
		margin-top: 15PX;
		color:  #ffffff;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		text-transform: capitalize;
		letter-spacing: 1.8px;
	}
	&_social {
		margin-top: 28px;
		text-align: center;
		letter-spacing: 11px;
		.fa { 
			color: #fff;
		}
		.fa-linkedin {
			color: #5474fd;;
		}
	}
}