html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;

}

html {
	height: 100%;
  	width: 100%;
	background: url(../img/bg_t.png), url(../img/bg.png);
	background-repeat: no-repeat, no-repeat;
	background-position: center center, center center;
	-webkit-background-size: 100%, 100%;
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    background-size: 100%, 100%;
}

body {
	height: 627px;
  	width: 100%;
	position: relative;
}

a:link {
	text-decoration: none;
}

a:active {
	color: black;
}
a {
	color: #fff;
}
.b-block {
	width:750px;
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Menu in the head */

.b-block__menu {
	height:25px;
	margin-top:21px;	
}

.b-block__menuitemL {
	width:207px;
	height: 100%;
	padding-left:4px; 
	float:left;
}

.b-block__menuitemR {
	width:543px;
	height:100%;
	color:  #ffffff;
	font-size: 12.14px;
	font-weight: 300;
	float:right;
}

.b-block__icon_left {
	float: left;
}

.b-block__icon_right {
	float: right;
	font-size: 27px;
	font-weight: 300;
}

.b-block__submenu {
	height:100%;
	float: left;
	margin-right: 47px;
	font-family:'Roboto', sans-serif;
	line-height: 30px;
}
.b-block__submenu:hover {
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
.b-block__icon {
	height:100%;
	line-height: 27px;
}

.fa-bars {
	font-size: 20px;
}

/* Main block */

.b-block__main {
	height: 430px;
	margin-top:60px;
	position: relative;
}

.b-block__mainleftside {
	float:left;
	width:502px;
	height: 430px;
	background: #f4f4f4 url(../img/bg_dot.png);
	position: relative;
}
.b-block__main_downside {
	width:100%;
	height:43px;
	margin-top: 29px;
	text-align: center;
}
.b-block__main_mini {
	display: inline-block;
	margin-right:12px;
	border:1px solid #fff;
}
.b-block__main_mini:last-child {
	margin-right:0;
}
.b-block__mainrightside {
	float:right;
	width:248px;
	height: 430px;
	background: white;
}
.b-block__main:after,
.b-block__main:before {
	content:'';
	opacity: 0.2;
	position: absolute;
	z-index: -1;
}
.b-block__main:after {
	height:406px;
	width:778px;
	top: 11px;
	left: -14px;
	background: #fff;
}
.b-block__main:before {
	height:390px;
	width:804px;
	top:19px;
	left:-28px;
	background: #fff;
}

.b-block__shadow {
	position: absolute;
}

.b-block__main_sneaks {
	width: 435px;
	height: 250px;
	position: relative;
}

.b-block__main_sneaks img {
	position: absolute;
	bottom: 4px;
	left:-3px;
}
.b-block__main_center {
	position: relative;
	margin-left:45px;
	margin-top: 85px;
}
.b-block__huarache {
	position: absolute;
	margin-left: 24px;
	top:69px;
}
.b-block__mainrightside {
	position: relative;
}
.b-block__head {
	width: 100%;
	height: 40px;
	padding: 10px;
	font-size: 20px;
	position: relative;
}
.fa-times {
	color: grey;
}
.b-block__rightmenu {
	padding-left:30px;
}
.new {
	width: 42px;
	height: 24px;
	background: #ffa60d;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	text-align: center;
	line-height: 24px;
	margin-top: 3px;
	padding-left: 2px;
}
.slogan {
	margin-top:9px;
	font-size: 24px;
	line-height: 1.2;
}
.huarache {
	display: inline-block;
	margin-top: 9px;
	margin-left:2px;
	font-size: 12px;
}
.rating {
	margin-left: 11px;
	font-size: 16px;
	letter-spacing: -2px;
	unicode-bidi: bidi-override;
 	direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.price {
	margin-top: 15px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 1px;
}
.size {
	margin-top: 25px;
	font-size: 12px;
	font-weight: 400;
}
.b-block__rightmenu_blue {
	color: #5e4fff;
}
.uppercase {
	text-transform: uppercase;
}
.b-block__numbers {
	display: table;
	width: 100%;
	margin-top: 3px;
	margin-bottom: 32px;
	margin-left: -16.5px;
}

.b-block__numbSize {
	display:table-cell;
	width:20%;
	margin-right:4px;
	text-align: center;
	font-size: 14.57px;
} 
.numberclick {
	color: black;
}
.b-block__numbSize_hoverBox {
	display: inline-block;
	height: 25px;
	width: 25px;
	line-height: 25px;
}

.b-block__numbSize_hoverBox:hover {
	border: 2px solid black;
	color: black;
}

.container {
    display: block;
    width:100%;
    cursor: pointer;
    user-select: none;
}
.b-button {
	width:120px;
	height:30px;
	margin-bottom: 4px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border: 1px solid black;
	
}
.b-button a {
	color: #000;
}

.add_button {
	background: #a200b8;
	border:none; 
}
.add_button a{
	color: #fff;
}
.button_link {
	display: block;
	width:100%; 
}
