*{transition: all .1s ease-in;}
body {
	border: 3vh solid #146FBB;
	height:94vh;
	margin:0 auto;
	background-color: #1384AF;
	font-size: 0;
}


p:first-child {
	font-family: sans-serif;
	font-size: 20px;
	margin: 20px auto;
	width:60%;
	color: white;

}

p:last-child {
	font-family: sans-serif;
	font-size: 15px;
	margin: 20px auto;
	width:60%;
	color: white;
}

ul {
	list-style-type:none;
	margin: 20px auto;
	padding: 0;
	width:60%;
	background-color: white;
}

li {
	margin: 0;
	display: inline-block;
	height: 100px;
	font-size: 20px;
	color: white;
	text-align: center;
	outline: 4px solid white;
}

li:before {
  display:inline-block;
  content:'';
  height:100px;
  vertical-align:middle;
  }

li span {display:inline-block;
  vertical-align:middle;
  }

.b-cities li:hover {
	opacity: 0.4;
}

.Lisbon {
	width: 50%;
	background-color: #1384AF;
	}

.Paris {

	width: 25%;
	background-color: #1CC29F;
}

.Belgrade {

	width: 25%;
	background-color: #90229B
}
.Moscow {

	width: 25%;
	background-color: #B81938;
}
.Aviv {

	width: 25%;
	background-color: #EC4021;
}
.Cair {

	width: 25%;
	background-color: #F1CA1C;
}
.New_York {

	width: 25%;
	background-color: #82BA64;

}
.Delhi {

	width: 25%;
	background-color: #669780;

}
.Tokyo {

	width: 25%;
	background-color: #1A8D55;

}
.Francisco {

	width: 50%;
	background-color: #DE52D1;
}
.Sydney {

	width: 100%;
	background-color: #5549A5;

}




