@font-face {
	font-family:'Segoe UI';
	src:url('../fonts/segoe-ui-bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family:'Segoe UI';
	src:url('../fonts/segoe-ui.ttf');
	font-weight: normal;
	font-style: normal;
}


*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

body, html {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
}


body{
	height:1500px;
	background: blue;
}

.page {
	width: 100%;
	margin:0;
	padding: 0;
	position: relative;
}


.one {
	background: #23232e;
	height: 45%;
	text-align: center;
	color: white;

}

.two {
	height: 55%;
	background: #fff url(../lines.png) 50% 50%;
	background-size: 100% 100%;
}


.logo {
	width: 100%;
	position: absolute;
	margin-top: 60px;

}

.logo img{
	width:80px;
	height:80px;
	margin: 0 auto;
}

.about {
	font-size: 80px;
	text-transform: uppercase;
	width:100%;
	text-align: center;
	position: absolute;
}

.love {
	margin-top:260px;
}

.do {
	margin-top:380px;
	margin-bottom: 0;
}

.thanks {
	width: 100%;
	margin-top:400px;
	position: absolute;

}

.wrapper{
    width: 100%;
    position: absolute;
 	bottom:0;
  	margin-bottom: 30px;
}

.button {
	width:35px;
	height:35px;
	border: 2px solid white;
	margin: 0 auto;
	border-radius: 50%;
}

.button:hover {
	opacity: 0.6;
}

.tickle {
	display: block;
	position: absolute;
	top: 0;
	bottom: 10%;
	left:0;
	right:0;
	margin: auto;
	width: 15px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.two div {
	position: absolute;
	color: #464b4f;
}

.text {
	font-weight: normal;
	font-size: 14px;
}

.bold {
	font-weight: bold;
}

.text2 {
	font-family: 'Segoe UI';
	font-weight: normal;
	font-size: 20px;
	width: 100%;
	margin: 60px 0 50px 0;

}

.text2 p {
	width: 45%;
	margin: 20px auto;
	text-align: center;
}

.column {
	width: 30%;
	text-align: justify;
}

.first {
	margin-left:0;
}

.second {
	margin-left:35%;
}

.third {
	margin-left:70%;
}

.container {
	margin: 550px 20% 0 20%;
	width: 60%;
	height: 154px;
	position: relative;

}

.column div:first-child{
	margin-top: 0px;
}

.column div:last-child{
	margin-top: 40px;
}
