html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family:'Miso';
	src:url(../fonts/miso-bold.otf);
	font-weight: 700;
}
@font-face {
	font-family:'Miso';
	src:url(../fonts/miso-regular.otf);
	font-weight: 400;
}

html, body {
    height: 100%;
}
body {
    margin: 0;
}
.flex-container {
	display: flex;
	margin: auto auto;
	justify-content: center;
	align-items: center;
	background: #fdde7e;
	flex-basis: 1200px;
	height: 100%;
	flex-grow: 0;
	padding: 0;
}
.flex-box {
	display: flex;
	margin: 0 14px;
	width: 360px;
	height: 440px;
	background: #fff;
	flex-direction: column;
	align-items: center;
	border-radius: 3%;
}
.box-center {
	height: 500px;
}
.price {
	font-family:'Miso';
	color:  #02995b;
	font-size: 70px;
	font-weight: 700;
	margin-top: 32px;
}
.box-center .price {
	margin-top: 44px;
}
.cup {
	margin-top: 23px;
}
.box-center .cup {
	margin-top: 34px;
}
.cup-color {
	margin-top: 18px;
	font-family: Miso;
	color:  #333333;
	font-size: 56px;
	font-weight: 400;
}
.box-center .cup-color {
	margin-top: 36px;
}
.advertise {
	margin-top: 25px;
	width: 155px;
	font-family: Lato;
	color:  #333333;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
}



