*{transition: all .1s ease-in;}
body {
	border: 3vh solid green;
	height:94vh;
	margin:0 auto;
	background-color: #363636;
	}

p {
	color: #E35369;
	text-align: center;
	margin: 0 auto;
	background-color: #4A4949
}

p:first-child {
	padding-top: 10px;
	font-size: 30px;
	font-weight: bold;
}

p + p {
	padding-bottom: 15px;
	font-size: 20px;
}

p:last-child {
	display:table;
	padding:15px 15px;
	width: 50%;
	font-size: 20px;
}


ul {
	list-style-type:none;
	display:table;
	margin:0 auto;
	padding: 25px;
	width: 50%;
	color: #fff;
	}
div span {
	font-size: 0.7em;
}

div:last-child {
	padding-left: 25px;
	padding-right: 25px;
}

li {
	padding: 15px;
}

li:not(.small) {
	font-size: 20px;
}

li:nth-child(2n+1) {
	background-color: #8F58CD;
	}

li:nth-child(2n) {
	background-color: #7C5892;
}

li:hover {
	border-bottom: 2px solid white;
	border-top: 2px solid white;
	background-color: #C535D6;
}
li:active {
	background-color: #6107BC;
}

div span:before{
	content: "("
}
div span:after{
	content: ")"
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;

    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 7px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    text-decoration: line-through;
}

.container input:checked ~ div{
	text-decoration: line-through;
}
