ul {
 font-size:0;
 background-color: white;
}

li {
	display: inline-block;
	width: 150px;
	height: 150px;
	border: 1px solid #73AD21;


}

[title="Academy"] {
	background-color: red;
}


[title="Beetroot"] {
	background-color: green;
}


[title="Academy"] + [title="Academy"] +[title="Academy"] {
	background-color: yellow;
}

li + [title="Academy"] {
	background-color: orange;
}


[title="Beetroot"] + li {
	background-color: blue;
}

li:last-child {

	background-color: purple;
}



